<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Snakes &amp; Ladders on a Plane</title>
    <script src="https://use.fontawesome.com/d631437608.js" th:href="@{https://use.fontawesome.com/d631437608.js}"></script>
    <link rel="stylesheet" href="../static/css/normalize.css"
      th:href="@{/css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Anton}"/>
    <link rel="stylesheet" href="../static/css/styles.css"
      th:href="@{/css/styles.css}"/>
</head>

<body>

  <div class="modal-trigger">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <i class="fa fa-minus" aria-hidden="true"></i>
  </div>

  <div class="modal-alignment">
    <div class="modal-window">
      <div class="text">
        <h1>DIRECTIONS</h1>
        <hr></hr>
        <br></br>
        <h2>STEP 1</h2>
        <p>Each player takes turns "rolling" the dice, advancing their token along the path.</p>
        <br></br>
        <h2>STEP 2</h2>
        <p>If a player lands on the base of a ladder, their token will advance to the top of that ladder. If a player lands on the head of a snake, their token will fall back to the tail end of that snake.</p>
        <br></br>
        <h2>STEP 3</h2>
        <p>The first player to reach 100 wins!</p>
      </div>
    </div>
  </div>


  <div class="content">


    <header>
      <h1 data-text="Snakes &amp; Ladders On a Plane">Snakes &amp; Ladders <span>On a Plane</span></h1>
    </header>

    <div class="gameboard">
      <table>
        <tr>
          <td id="n100" class="color7">100
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n99" class="color2">99
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n98" class="color3">98
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n97" class="color4">97
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n96" class="color5">96
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n95" class="color6">95
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n94" class="color1">94
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n93" class="color2">93
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n92" class="color3">92
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n91" class="color4">91
            <div class="player1"></div>
            <div class="player2"></div></td>
        </tr>
        <tr>
          <td id="n81" class="color5">81
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n82" class="color6">82
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n83" class="color1">83
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n84" class="color2">84
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n85" class="color3">85
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n86" class="color4">86
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n87" class="color5">87
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n88" class="color6">88
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n89" class="color1">89
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n90" class="color2">90
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n80" class="color3">80
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n79" class="color4">79
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n78" class="color5">78
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n77" class="color6">77
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n76" class="color1">76
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n75" class="color2">75
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n74" class="color3">74
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n73" class="color4">73
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n72" class="color5">72
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n71" class="color6">71
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n61" class="color1">61
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n62" class="color2">62
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n63" class="color3">63
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n64" class="color4">64
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n65" class="color5">65
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n66" class="color6">66
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n67" class="color1">67
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n68" class="color2">68
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n69" class="color3">69
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n70" class="color4">70
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n60" class="color5">60
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n59" class="color6">59
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n58" class="color1">58
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n57" class="color2">57
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n56" class="color3">56
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n55" class="color4">55
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n54" class="color5">54
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n53" class="color6">53
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n52" class="color1">52
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n51" class="color2">51
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n41" class="color3">41
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n42" class="color4">42
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n43" class="color5">43
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n44" class="color6">44
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n45" class="color1">45
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n46" class="color2">46
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n47" class="color3">47
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n48" class="color4">48
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n49" class="color5">49
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n50" class="color6">50
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n40" class="color1">40
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n39" class="color2">39
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n38" class="color3">38
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n37" class="color4">37
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n36" class="color5">36
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n35" class="color6">35
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n34" class="color1">34
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n33" class="color2">33
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n32" class="color3">32
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n31" class="color4">31
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n21" class="color5">21
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n22" class="color6">22
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n23" class="color1">23
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n24" class="color2">24
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n25" class="color3">25
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n26" class="color4">26
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n27" class="color5">27
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n28" class="color6">28
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n29" class="color1">29
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n30" class="color2">30
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n20" class="color3">20
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n19" class="color4">19
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n18" class="color5">18
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n17" class="color6">17
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n16" class="color1">16
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n15" class="color2">15
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n14" class="color3">14
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n13" class="color4">13
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n12" class="color5">12
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n11" class="color6">11
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>
        <tr>
          <td id="n1" class="color1">1
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n2" class="color2">2
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n3" class="color3">3
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n4" class="color4">4
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n5" class="color5">5
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n6" class="color6">6
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n7" class="color1">7
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n8" class="color2">8
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n9" class="color3">9
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
          <td id="n10" class="color4">10
            <div class="player1"></div>
            <div class="player2"></div>
          </td>
        </tr>

        <!-- <img id="snake1" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake2" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake3" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake4" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake5" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake6" src="../images/snake.svg" alt="snake"> -->
        <!-- <img id="snake7" src="../images/snake.svg" alt="snake"> -->

        <img id="snake1-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake2-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake3-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake4-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake5-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake6-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="snake7-v2" src="../static/images/snake2.svg" alt="snake"
             th:src="@{/images/snake2.svg}"/>
        <img id="ladder1" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder2" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder3" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder4" src="../static/images/ladder2.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder5" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder6" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        <img id="ladder7" src="../static/images/ladder.svg" alt="ladder"
             th:src="@{/images/ladder.svg}"/>
        </table>
    </div>

      <div class="play">
          <!--<form class="form" action="index.html" th:action="@{index.html}" method="post">-->
                <!--<input type="button" name="submit" value="ROLL" id="roll"/>-->
                <button class="form" id="roll">ROLL</button>
            <!--</form>-->
          <div id="current-dice-roll">
              <p></p>
              <h1></h1>

          </div>
      </div>

  </div>

















  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script th:src="@{/js/script.js}"></script>
</body>

</html>
