<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player 1 Wins!</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

  </head>
  <body id="winner">

    <div class="content">
      <header>
        <h1 id="player-one-wins" data-text="Player 1 Wins!">Player 1 Wins!</h1>
      </header>

      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fgfkaW44GWs?autoplay=1&start=83&end=91" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
